body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
  line-height:1.5;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen and  (min-width: 601px) and (max-width: 1024px) {
  body {
    padding:20% 0;
  }
  .container,.row {
    width:100%;
  }
  .btn {
    border: 3px solid black
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding:30% 0;
  }

  #level-title {
    font-size:1.2rem;
  }

  .container,.row {
    width:100%;
  }

  #green,#red,#blue,#yellow {
    width:100px;
    height:100px;
  }
  .btn {
    border: 3px solid black
  }
